<div>
    <h2 id="page-heading">
        <span jhiTranslate="areaadmistrativaApp.redeSocial.home.title">Rede Socials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rede-social" [routerLink]="['/rede-social/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="areaadmistrativaApp.redeSocial.home.createLabel">
            Create new Rede Social
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="redeSocials">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="areaadmistrativaApp.redeSocial.tipoRedeSocial">Tipo Rede Social</span></th>
            <th><span jhiTranslate="areaadmistrativaApp.redeSocial.url">Url</span></th>
            <th><span jhiTranslate="areaadmistrativaApp.redeSocial.voluntario">Voluntario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let redeSocial of redeSocials ;trackBy: trackId">
                <td><a [routerLink]="['/rede-social', redeSocial.id, 'view' ]">{{redeSocial.id}}</a></td>
                <td jhiTranslate="{{'areaadmistrativaApp.TipoRedeSocial.' + redeSocial.tipoRedeSocial}}">{{redeSocial.tipoRedeSocial}}</td>
                <td>{{redeSocial.url}}</td>
                <td>
                    <div *ngIf="redeSocial.voluntario">
                        <a [routerLink]="['../voluntario', redeSocial.voluntario?.id, 'view' ]" >{{redeSocial.voluntario?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/rede-social', redeSocial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rede-social', redeSocial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'rede-social', { outlets: { popup: redeSocial.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
