<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="redeSocial">
            <h2><span jhiTranslate="areaadmistrativaApp.redeSocial.detail.title">Rede Social</span> {{redeSocial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="areaadmistrativaApp.redeSocial.tipoRedeSocial">Tipo Rede Social</span></dt>
                <dd>
                    <span jhiTranslate="{{'areaadmistrativaApp.TipoRedeSocial.' + redeSocial.tipoRedeSocial}}">{{redeSocial.tipoRedeSocial}}</span>
                </dd>
                <dt><span jhiTranslate="areaadmistrativaApp.redeSocial.url">Url</span></dt>
                <dd>
                    <span>{{redeSocial.url}}</span>
                </dd>
                <dt><span jhiTranslate="areaadmistrativaApp.redeSocial.voluntario">Voluntario</span></dt>
                <dd>
                    <div *ngIf="redeSocial.voluntario">
                        <a [routerLink]="['/voluntario', redeSocial.voluntario?.id, 'view']">{{redeSocial.voluntario?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rede-social', redeSocial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
