<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recurso-necessario-heading" jhiTranslate="areaadmistrativaApp.recursoNecessario.home.createOrEditLabel">Create or edit a Recurso Necessario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!recursoNecessario.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao').invalid && (editForm.get('descricao').dirty || editForm.get('descricao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.quantidade" for="field_quantidade">Quantidade</label>
                    <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                           formControlName="quantidade"/>
                    <div *ngIf="editForm.get('quantidade').invalid && (editForm.get('quantidade').dirty || editForm.get('quantidade').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantidade').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantidade')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.isFinanceiro" for="field_isFinanceiro">Is Financeiro</label>
                    <input type="checkbox" class="form-control" name="isFinanceiro" id="field_isFinanceiro"
                           formControlName="isFinanceiro"/>
                    <div *ngIf="editForm.get('isFinanceiro').invalid && (editForm.get('isFinanceiro').dirty || editForm.get('isFinanceiro').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isFinanceiro').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                    <div *ngIf="editForm.get('valor').invalid && (editForm.get('valor').dirty || editForm.get('valor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.acao" for="field_acao">Acao</label>
                    <select class="form-control" id="field_acao" name="acao" formControlName="acao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="acaoOption.id === editForm.get('acao').value?.id ? editForm.get('acao').value : acaoOption" *ngFor="let acaoOption of acaos; trackBy: trackAcaoById">{{acaoOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="areaadmistrativaApp.recursoNecessario.campanha" for="field_campanha">Campanha</label>
                    <select class="form-control" id="field_campanha" name="campanha" formControlName="campanha">
                        <option *ngIf="!editForm.get('campanha').value" [ngValue]="null" selected></option>
                        <option [ngValue]="campanhaOption.id === editForm.get('campanha').value?.id ? editForm.get('campanha').value : campanhaOption" *ngFor="let campanhaOption of campanhas; trackBy: trackCampanhaById">{{campanhaOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('campanha').invalid && (editForm.get('campanha').dirty || editForm.get('campanha').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('campanha').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
