<div>
    <h2 id="page-heading">
        <span jhiTranslate="areaadmistrativaApp.estado.home.title">Estados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estado" [routerLink]="['/estado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="areaadmistrativaApp.estado.home.createLabel">
            Create new Estado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="estados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="areaadmistrativaApp.estado.nome">Nome</span></th>
            <th><span jhiTranslate="areaadmistrativaApp.estado.sigla">Sigla</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estado of estados ;trackBy: trackId">
                <td><a [routerLink]="['/estado', estado.id, 'view' ]">{{estado.id}}</a></td>
                <td>{{estado.nome}}</td>
                <td>{{estado.sigla}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estado', estado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estado', estado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'estado', { outlets: { popup: estado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
