<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telefone">
            <h2><span jhiTranslate="areaadmistrativaApp.telefone.detail.title">Telefone</span> {{telefone.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="areaadmistrativaApp.telefone.ddd">Ddd</span></dt>
                <dd>
                    <span>{{telefone.ddd}}</span>
                </dd>
                <dt><span jhiTranslate="areaadmistrativaApp.telefone.numero">Numero</span></dt>
                <dd>
                    <span>{{telefone.numero}}</span>
                </dd>
                <dt><span jhiTranslate="areaadmistrativaApp.telefone.voluntario">Voluntario</span></dt>
                <dd>
                    <div *ngIf="telefone.voluntario">
                        <a [routerLink]="['/voluntario', telefone.voluntario?.id, 'view']">{{telefone.voluntario?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telefone', telefone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
